@page
@model Semester_2_Web.Pages.AdoptModel
@{
}
<br />
<section class="py-5 backgroundcolorwhite">
	<div class="align-items-center align-content-center">
		<h1>Thank You for your request!</h1>
		<h3>We will review your adoption request as soon as possible!</h3>
		<a asp-page="Index" class="btn btn-outline-secondary"> Return to Homepage </a>
	</div>
</section>