@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    @*<h1>Hello @Model.Username</h1>*@
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @if(!User.Identity.IsAuthenticated)
            {
            <div class="carousel-item">
                <img class="object-fit-cover" src="~/img/IndexImages/Cats-playing.jpg" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"></img>
                <div class="container">
                    <div class="carousel-caption text-start">
                        <h1>Adopt an Animal</h1>
                        <p>Many animals needing new home...</p>
                        <p><a class="btn btn-lg btn-primary" asp-page="Register">Register as Adopter</a></p>
                    </div>
                </div>
            </div>
            }
            <div class="carousel-item active">
                <img class="object-fit-cover" src="~/img/IndexImages/two-pitbulls.jpg" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"></img>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Help Care for Them</h1>
                        <p>You can help by contributing to our shelters.</p>
                        <p><a class="btn btn-lg btn-primary" asp-page="Shelter">Learn more</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="object-fit-cover" src="~/img/IndexImages/woman-dog.jpg" width="100%" height="100%" aria-hidden="true" preserveAspectRatio="xMidYMid slice"></img>
                <div class="container">
                    <div class="carousel-caption text-end">
                        <h1>Need a Friend?</h1>
                        <p>There must be an animal friend suitable for you!</p>
                        <p><a class="btn btn-lg btn-primary" asp-page="Animals">Find a suitable Pet</a></p>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Content layer -->

    <div class="container marketing backgroundcolorwhite">

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Lorem Ipsum</h2>
            <br>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-md-5">
                <img src="~/img/IndexImages/1-1Elderly-dogs.jpg" width="500rem" height="500rem" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">Friends</text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-5 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Ut enim ad.</h2>
            <p class="lead">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-5 order-md-1">
            <img src="~/img/IndexImages/1-1woman-two-dogs.jpg"width="500rem" height="500rem" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">Friends</text></img>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Duis aute irure</h2>
            <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-5">
            <img src="~/img/IndexImages/1-1cats-sleep-window.jpg" width="500rem" height="500rem" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">Friends</text></img>
            </div>
        </div>

        <br>

        <!-- Content end -->

    </div>
</div>